In [1]:
print ('Hello World') #string

Hello World

In [2]:
print(123) #intger/float

123

In [3]:
print (123, "Hi")

123 Hi

In [13]:
type (2.6) #ToKnowTheDataType

float

In [5]:
type ("hello")

str

In [6]:
name = "Mehmoood"

In [7]:
print (name)

Mehmoood

In [8]:
id(name) #forAddress

2530450912752

In [9]:
print (id(name))

2530450912752

In [10]:
number = 35

In [11]:
print (number)

35

In [12]:
type(number)

int

In [14]:
no_1 = 5
no_2 = 6

In [15]:
no_1 + no_2

11

In [17]:
print (123)

123

In [21]:
name = ("Khalid")

In [23]:
print("Hamza" , 123 , 567 , sep="@@@")

Hamza@@@123@@@567

In [25]:
print("first Class", end='h')
print("Second Class")

first ClasshSecond Class